/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  overflow-x: hidden;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Fonts
   ========================================================================== */

html, body{
  font-family: 'Poppins', sans-serif;
}

body{
  overflow-x: hidden;
}

h1{
  font-size:50px;
  margin:0.2em 0;
  line-height: 82px;
}

h2{
  font-size:45px;
  line-height: 74px;
  margin:0.2em 0;
}
h3{
  font-size:35px;
  margin:0.2em 0;
  line-height: 57px;
}

p{
  font-size:18px;
  line-height: 30px;
  color:#1F1F1F;
}

.lead{
  font-size:22px;
  line-height: 34px;
}

.subtitle{
  font-size:12px;
  font-weight:400;
  letter-spacing: 0.2em;
  text-transform:uppercase;
}

/* ==========================================================================
   Wrappers, rows, cols
   ========================================================================== */

.full-width{
  width:100%;
  display:block;
}

.wrapper{
  max-width: 1200px;
  margin:0 auto;
  padding:0 15px;
}

.larger-wrapper{
  max-width: 1330px;
  margin:0 auto;
  padding:0 15px;
}

.service-wrapper{
  max-width: 100vw;
  padding-right:calc((100vw - 1200px) / 2);
}

.service-wrapper.odd{
  padding-right:0;
  padding-left: calc((100vw - 1200px) / 2);
}

.row{
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
}

.col {
  flex: 1 0 0%;
}

.row-cols-auto > * {
  flex: 0 0 auto;
  width: auto;
}

.row-cols-1 > * {
  flex: 0 0 auto;
  width: 100%;
}

.row-cols-2 > * {
  flex: 0 0 auto;
  width: 50%;
}

.row-cols-3 > * {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.row-cols-4 > * {
  flex: 0 0 auto;
  width: 25%;
}

.row-cols-5 > * {
  flex: 0 0 auto;
  width: 20%;
}

.row-cols-6 > * {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.3333333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.6666666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.3333333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.6666666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.3333333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.6666666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.offset-1 {
  margin-left: 8.3333333333%;
}

.offset-2 {
  margin-left: 16.6666666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.3333333333%;
}

.offset-5 {
  margin-left: 41.6666666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.3333333333%;
}

.offset-8 {
  margin-left: 66.6666666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.3333333333%;
}

.offset-11 {
  margin-left: 91.6666666667%;
}

.g-0,
.gx-0 {
  --bs-gutter-x: 0;
}

.g-0,
.gy-0 {
  --bs-gutter-y: 0;
}

.g-1,
.gx-1 {
  --bs-gutter-x: 0.25rem;
}

.g-1,
.gy-1 {
  --bs-gutter-y: 0.25rem;
}

.g-2,
.gx-2 {
  --bs-gutter-x: 0.5rem;
}

.g-2,
.gy-2 {
  --bs-gutter-y: 0.5rem;
}

.g-3,
.gx-3 {
  --bs-gutter-x: 1rem;
}

.g-3,
.gy-3 {
  --bs-gutter-y: 1rem;
}

.g-4,
.gx-4 {
  --bs-gutter-x: 1.5rem;
}

.g-4,
.gy-4 {
  --bs-gutter-y: 1.5rem;
}

.g-5,
.gx-5 {
  --bs-gutter-x: 3rem;
}

.g-5,
.gy-5 {
  --bs-gutter-y: 3rem;
}

@media (min-width: 0px) {
  .col-sm {
    flex: 1 0 0%;
  }

  .row-cols-sm-auto > * {
    flex: 0 0 auto;
    width: auto;
  }

  .row-cols-sm-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }

  .row-cols-sm-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }

  .row-cols-sm-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .row-cols-sm-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }

  .row-cols-sm-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }

  .row-cols-sm-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
  }

  .col-sm-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }

  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }

  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-sm-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }

  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }

  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }

  .col-sm-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }

  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }

  .offset-sm-0 {
    margin-left: 0;
  }

  .offset-sm-1 {
    margin-left: 8.3333333333%;
  }

  .offset-sm-2 {
    margin-left: 16.6666666667%;
  }

  .offset-sm-3 {
    margin-left: 25%;
  }

  .offset-sm-4 {
    margin-left: 33.3333333333%;
  }

  .offset-sm-5 {
    margin-left: 41.6666666667%;
  }

  .offset-sm-6 {
    margin-left: 50%;
  }

  .offset-sm-7 {
    margin-left: 58.3333333333%;
  }

  .offset-sm-8 {
    margin-left: 66.6666666667%;
  }

  .offset-sm-9 {
    margin-left: 75%;
  }

  .offset-sm-10 {
    margin-left: 83.3333333333%;
  }

  .offset-sm-11 {
    margin-left: 91.6666666667%;
  }

  .g-sm-0,
.gx-sm-0 {
    --bs-gutter-x: 0;
  }

  .g-sm-0,
.gy-sm-0 {
    --bs-gutter-y: 0;
  }

  .g-sm-1,
.gx-sm-1 {
    --bs-gutter-x: 0.25rem;
  }

  .g-sm-1,
.gy-sm-1 {
    --bs-gutter-y: 0.25rem;
  }

  .g-sm-2,
.gx-sm-2 {
    --bs-gutter-x: 0.5rem;
  }

  .g-sm-2,
.gy-sm-2 {
    --bs-gutter-y: 0.5rem;
  }

  .g-sm-3,
.gx-sm-3 {
    --bs-gutter-x: 1rem;
  }

  .g-sm-3,
.gy-sm-3 {
    --bs-gutter-y: 1rem;
  }

  .g-sm-4,
.gx-sm-4 {
    --bs-gutter-x: 1.5rem;
  }

  .g-sm-4,
.gy-sm-4 {
    --bs-gutter-y: 1.5rem;
  }

  .g-sm-5,
.gx-sm-5 {
    --bs-gutter-x: 3rem;
  }

  .g-sm-5,
.gy-sm-5 {
    --bs-gutter-y: 3rem;
  }
}
@media (min-width: 768px) {
  .col-md {
    flex: 1 0 0%;
  }

  .row-cols-md-auto > * {
    flex: 0 0 auto;
    width: auto;
  }

  .row-cols-md-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }

  .row-cols-md-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }

  .row-cols-md-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .row-cols-md-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }

  .row-cols-md-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }

  .row-cols-md-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
  }

  .col-md-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }

  .col-md-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-md-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .col-md-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }

  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-md-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }

  .col-md-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }

  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-md-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }

  .col-md-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }

  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }

  .offset-md-0 {
    margin-left: 0;
  }

  .offset-md-1 {
    margin-left: 8.3333333333%;
  }

  .offset-md-2 {
    margin-left: 16.6666666667%;
  }

  .offset-md-3 {
    margin-left: 25%;
  }

  .offset-md-4 {
    margin-left: 33.3333333333%;
  }

  .offset-md-5 {
    margin-left: 41.6666666667%;
  }

  .offset-md-6 {
    margin-left: 50%;
  }

  .offset-md-7 {
    margin-left: 58.3333333333%;
  }

  .offset-md-8 {
    margin-left: 66.6666666667%;
  }

  .offset-md-9 {
    margin-left: 75%;
  }

  .offset-md-10 {
    margin-left: 83.3333333333%;
  }

  .offset-md-11 {
    margin-left: 91.6666666667%;
  }

  .g-md-0,
.gx-md-0 {
    --bs-gutter-x: 0;
  }

  .g-md-0,
.gy-md-0 {
    --bs-gutter-y: 0;
  }

  .g-md-1,
.gx-md-1 {
    --bs-gutter-x: 0.25rem;
  }

  .g-md-1,
.gy-md-1 {
    --bs-gutter-y: 0.25rem;
  }

  .g-md-2,
.gx-md-2 {
    --bs-gutter-x: 0.5rem;
  }

  .g-md-2,
.gy-md-2 {
    --bs-gutter-y: 0.5rem;
  }

  .g-md-3,
.gx-md-3 {
    --bs-gutter-x: 1rem;
  }

  .g-md-3,
.gy-md-3 {
    --bs-gutter-y: 1rem;
  }

  .g-md-4,
.gx-md-4 {
    --bs-gutter-x: 1.5rem;
  }

  .g-md-4,
.gy-md-4 {
    --bs-gutter-y: 1.5rem;
  }

  .g-md-5,
.gx-md-5 {
    --bs-gutter-x: 3rem;
  }

  .g-md-5,
.gy-md-5 {
    --bs-gutter-y: 3rem;
  }
}
@media (min-width: 992px) {
  .col-lg {
    flex: 1 0 0%;
  }

  .row-cols-lg-auto > * {
    flex: 0 0 auto;
    width: auto;
  }

  .row-cols-lg-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }

  .row-cols-lg-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }

  .row-cols-lg-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .row-cols-lg-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }

  .row-cols-lg-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }

  .row-cols-lg-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
  }

  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }

  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }

  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }

  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }

  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }

  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }

  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }

  .offset-lg-0 {
    margin-left: 0;
  }

  .offset-lg-1 {
    margin-left: 8.3333333333%;
  }

  .offset-lg-2 {
    margin-left: 16.6666666667%;
  }

  .offset-lg-3 {
    margin-left: 25%;
  }

  .offset-lg-4 {
    margin-left: 33.3333333333%;
  }

  .offset-lg-5 {
    margin-left: 41.6666666667%;
  }

  .offset-lg-6 {
    margin-left: 50%;
  }

  .offset-lg-7 {
    margin-left: 58.3333333333%;
  }

  .offset-lg-8 {
    margin-left: 66.6666666667%;
  }

  .offset-lg-9 {
    margin-left: 75%;
  }

  .offset-lg-10 {
    margin-left: 83.3333333333%;
  }

  .offset-lg-11 {
    margin-left: 91.6666666667%;
  }

  .g-lg-0,
.gx-lg-0 {
    --bs-gutter-x: 0;
  }

  .g-lg-0,
.gy-lg-0 {
    --bs-gutter-y: 0;
  }

  .g-lg-1,
.gx-lg-1 {
    --bs-gutter-x: 0.25rem;
  }

  .g-lg-1,
.gy-lg-1 {
    --bs-gutter-y: 0.25rem;
  }

  .g-lg-2,
.gx-lg-2 {
    --bs-gutter-x: 0.5rem;
  }

  .g-lg-2,
.gy-lg-2 {
    --bs-gutter-y: 0.5rem;
  }

  .g-lg-3,
.gx-lg-3 {
    --bs-gutter-x: 1rem;
  }

  .g-lg-3,
.gy-lg-3 {
    --bs-gutter-y: 1rem;
  }

  .g-lg-4,
.gx-lg-4 {
    --bs-gutter-x: 1.5rem;
  }

  .g-lg-4,
.gy-lg-4 {
    --bs-gutter-y: 1.5rem;
  }

  .g-lg-5,
.gx-lg-5 {
    --bs-gutter-x: 3rem;
  }

  .g-lg-5,
.gy-lg-5 {
    --bs-gutter-y: 3rem;
  }
}
@media (min-width: 1200px) {
  .col-xl {
    flex: 1 0 0%;
  }

  .row-cols-xl-auto > * {
    flex: 0 0 auto;
    width: auto;
  }

  .row-cols-xl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }

  .row-cols-xl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }

  .row-cols-xl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .row-cols-xl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }

  .row-cols-xl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }

  .row-cols-xl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .col-xl-auto {
    flex: 0 0 auto;
    width: auto;
  }

  .col-xl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }

  .col-xl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-xl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .col-xl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }

  .col-xl-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-xl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }

  .col-xl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }

  .col-xl-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-xl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }

  .col-xl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }

  .col-xl-12 {
    flex: 0 0 auto;
    width: 100%;
  }

  .offset-xl-0 {
    margin-left: 0;
  }

  .offset-xl-1 {
    margin-left: 8.3333333333%;
  }

  .offset-xl-2 {
    margin-left: 16.6666666667%;
  }

  .offset-xl-3 {
    margin-left: 25%;
  }

  .offset-xl-4 {
    margin-left: 33.3333333333%;
  }

  .offset-xl-5 {
    margin-left: 41.6666666667%;
  }

  .offset-xl-6 {
    margin-left: 50%;
  }

  .offset-xl-7 {
    margin-left: 58.3333333333%;
  }

  .offset-xl-8 {
    margin-left: 66.6666666667%;
  }

  .offset-xl-9 {
    margin-left: 75%;
  }

  .offset-xl-10 {
    margin-left: 83.3333333333%;
  }

  .offset-xl-11 {
    margin-left: 91.6666666667%;
  }

  .g-xl-0,
.gx-xl-0 {
    --bs-gutter-x: 0;
  }

  .g-xl-0,
.gy-xl-0 {
    --bs-gutter-y: 0;
  }

  .g-xl-1,
.gx-xl-1 {
    --bs-gutter-x: 0.25rem;
  }

  .g-xl-1,
.gy-xl-1 {
    --bs-gutter-y: 0.25rem;
  }

  .g-xl-2,
.gx-xl-2 {
    --bs-gutter-x: 0.5rem;
  }

  .g-xl-2,
.gy-xl-2 {
    --bs-gutter-y: 0.5rem;
  }

  .g-xl-3,
.gx-xl-3 {
    --bs-gutter-x: 1rem;
  }

  .g-xl-3,
.gy-xl-3 {
    --bs-gutter-y: 1rem;
  }

  .g-xl-4,
.gx-xl-4 {
    --bs-gutter-x: 1.5rem;
  }

  .g-xl-4,
.gy-xl-4 {
    --bs-gutter-y: 1.5rem;
  }

  .g-xl-5,
.gx-xl-5 {
    --bs-gutter-x: 3rem;
  }

  .g-xl-5,
.gy-xl-5 {
    --bs-gutter-y: 3rem;
  }
}
@media (min-width: 1400px) {
  .col-xxl {
    flex: 1 0 0%;
  }

  .row-cols-xxl-auto > * {
    flex: 0 0 auto;
    width: auto;
  }

  .row-cols-xxl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }

  .row-cols-xxl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }

  .row-cols-xxl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .row-cols-xxl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }

  .row-cols-xxl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }

  .row-cols-xxl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .col-xxl-auto {
    flex: 0 0 auto;
    width: auto;
  }

  .col-xxl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }

  .col-xxl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .col-xxl-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-xxl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .col-xxl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }

  .col-xxl-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-xxl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }

  .col-xxl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }

  .col-xxl-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-xxl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }

  .col-xxl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }

  .col-xxl-12 {
    flex: 0 0 auto;
    width: 100%;
  }

  .offset-xxl-0 {
    margin-left: 0;
  }

  .offset-xxl-1 {
    margin-left: 8.3333333333%;
  }

  .offset-xxl-2 {
    margin-left: 16.6666666667%;
  }

  .offset-xxl-3 {
    margin-left: 25%;
  }

  .offset-xxl-4 {
    margin-left: 33.3333333333%;
  }

  .offset-xxl-5 {
    margin-left: 41.6666666667%;
  }

  .offset-xxl-6 {
    margin-left: 50%;
  }

  .offset-xxl-7 {
    margin-left: 58.3333333333%;
  }

  .offset-xxl-8 {
    margin-left: 66.6666666667%;
  }

  .offset-xxl-9 {
    margin-left: 75%;
  }

  .offset-xxl-10 {
    margin-left: 83.3333333333%;
  }

  .offset-xxl-11 {
    margin-left: 91.6666666667%;
  }

  .g-xxl-0,
.gx-xxl-0 {
    --bs-gutter-x: 0;
  }

  .g-xxl-0,
.gy-xxl-0 {
    --bs-gutter-y: 0;
  }

  .g-xxl-1,
.gx-xxl-1 {
    --bs-gutter-x: 0.25rem;
  }

  .g-xxl-1,
.gy-xxl-1 {
    --bs-gutter-y: 0.25rem;
  }

  .g-xxl-2,
.gx-xxl-2 {
    --bs-gutter-x: 0.5rem;
  }

  .g-xxl-2,
.gy-xxl-2 {
    --bs-gutter-y: 0.5rem;
  }

  .g-xxl-3,
.gx-xxl-3 {
    --bs-gutter-x: 1rem;
  }

  .g-xxl-3,
.gy-xxl-3 {
    --bs-gutter-y: 1rem;
  }

  .g-xxl-4,
.gx-xxl-4 {
    --bs-gutter-x: 1.5rem;
  }

  .g-xxl-4,
.gy-xxl-4 {
    --bs-gutter-y: 1.5rem;
  }

  .g-xxl-5,
.gx-xxl-5 {
    --bs-gutter-x: 3rem;
  }

  .g-xxl-5,
.gy-xxl-5 {
    --bs-gutter-y: 3rem;
  }
}


/* ==========================================================================
   Main Nav
   ========================================================================== */

.absolute-bar{
  position: absolute;
  z-index: 99;
}

.sticky-bar{
  position: fixed;
  top:0;
  z-index:99;
}

.nav-bar{
  height:75px;
  transition: 500ms all ease;
}

.light-nav{
  height:75px;
  background-color:#fff;
  transition: 500ms all ease;
}

.light-nav .main-nav ul li a{
  color:#383838;
}

.light-nav .main-nav .btn{
  color:#fff;
}

.dark-nav{
  background-color:#0F0F0F;
}

.transparent-nav{
  background-color:transparent;
}

.transparent-nav .main-nav ul li a,
.dark-nav .main-nav ul li a{
  color:#fff;
  transition: 500ms all ease;
}

.transparent-nav .main-nav ul li a:hover,
.dark-nav .main-nav ul li a:hover,
.light-nav .main-nav ul li a:hover{
  text-decoration: underline;
}

.main-nav{
  padding:22px 0;
}

.main-nav .btn{
  float:right;
  margin-top:-5px;
}

.main-nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main-nav ul li{
  display: inline;
  margin-left:30px;
}

.main-nav ul li:first-child{
  margin-left:0;
}

.nav-bar a, .light-nav a{
  font-size:14px;
  text-transform:uppercase;
  text-decoration: none;
}

/* ==========================================================================
   Main Nav Mobile
   ========================================================================== */
.main-nav-mobile{
  z-index:99;
  background-color:#fff;
}

.nav-mobile{
  position: fixed;
  top:60px;
  left:0;
  right:0;
  bottom:0;
  height:calc(100vh - 60px);
  width: calc(100% - 40px);
  background-color:#fff;
  padding:0px 20px; 
  display:none;
  transition:500ms all ease; 
  z-index:99;
}

.nav-mobile ul{
  list-style-type: none;
  margin-top:50px;
  margin-left:0;
  padding: 0;
}

.nav-mobile ul li{
  margin-top:10px;
  margin-bottom:10px; 
}

.nav-mobile ul li a{
  font-size:32px;
  color:#1F1F1F;
  text-decoration: none;
}

.nav-mobile-contact{
  margin-top:50px;
}

.nav-mobile .subtitle{
  margin-top:50px;
  color:#999;
  font-size:11px;
}

.nav-mobile .social{
  position: absolute;
  width: calc(100% - 40px);
  bottom: 30px;
}

.nav-mobile .social-media{
  color:#1F1F1F;
  white-space: nowrap;
}

.nav-mobile .social-media .white-line{
  background-color:#1F1F1F;
  width:100%;
  margin-right: 0;
}

.nav-mobile .social-links{
  margin-top:20px;
  display:flex;
  justify-content: flex-end;
}

.nav-mobile .social-links a{
  filter: invert(1) brightness(100);
}


/* ==========================================================================
   Carousel
   ========================================================================== */

.carousel-wrapper.spacer{
  margin-top:100px;
}

.carousel-wrapper .item span{
  position:absolute;
  bottom:30px;
  left:-30px;
  padding-top:15px;
  padding-bottom:15px;
  padding-left:30px;
  background-color:#00D9D0;
  width:90%;
  color:#fff;
  font-weight:600;
  font-size:20px;
}

.carousel-wrapper a:hover .service-title{
  text-decoration: underline;
}

/* ==========================================================================
   buttons
   ========================================================================== */

.btn{
  background-color:#00D9D0;
  color:#fff;
  font-weight:400;
  border-radius: 20px;
  padding: 10px 32px;
  transition: 500ms all ease;
}

.btn:hover{
  filter: drop-shadow(0px 0px 10px #00D9D0);
  font-weight:700;
  text-decoration:none!important;
}

.btn-blue-ball{
  position: relative;
  padding: 10px 45px;
  display: inline-flex;
  font-weight: 600;
  font-size: 16px;
  border-radius: 20px;
  text-decoration: none;
  transition: 500ms all ease;
}

.btnball{
  position: absolute;
  left: 0;
  width:42px;
  height:42px;
  border-radius: 20px;
  background-color:#00d9d0;
  margin-right:20px;
  transition: 500ms all ease;
}

.btnball-white{
  background-color:#fff;
}

.btn-img{
  position: absolute;
  top:50%;
  left:13px;
  transform:translateY(-50%);
  transition: 500ms all ease;
}

.btn-blue-ball span{
  z-index: 2;
  margin-top: 10px;
  padding: 0 15px;
  text-decoration: none;
  white-space: nowrap;
}

.btn-blue-ball:hover .btnball{
  width: 100%;
  filter: drop-shadow(0px 0px 10px #00D9D0);
}

.btn-blue-ball:hover .btn-img{
  left:calc(100% - 31px);
}

.btn-blue-ball:hover{
  color:#fff;
}

.blue-ball-inverted:hover{
  color:#00d9d0;
}

.btn-light{
  color:#1F1F1F;  
}

.btn-dark{
  color:#fff;
}

.btn-send{
  width:42px;
  height:42px;
  background-color:#fff;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:500ms all ease;
}

.btn-send:hover{
  filter: drop-shadow(0px 0px 10px #00D9D0);
}

.btn-go{
  width:42px;
  height:42px;
  border-radius: 20px;
  border:1px solid #00D9D0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 500ms all ease;
}

.btn-go:hover{
  background-color:#00D9D0;
}

.btn-go:hover img{
  filter: brightness(100);
}

/* ==========================================================================
   Main Page Slider
   ========================================================================== */

.slider-wrap {
  width: 100%;
  height: 100%;
}
.slider {
  overflow-x: scroll;
}
.holder {
  width: 100%;
}
.slide {
  float: left;
  width: 100%;
  height: 100vh;
  position: relative;
  background-position: -100px 0;
  color:#fff;
}
.temp {
  position: absolute;
  color: white;
  font-size: 100px;
  bottom: 15px;
  left: 15px;
  font-family: 'Josefin Slab', serif;
  font-weight: 100;
}
#slide-0 {
  background-image: url(../img/bg-01.jpg);
}
#slide-1 {
  background-image: url(../img/bg-01.jpg);
}
#slide-2 {
  background-image: url(../img/bg-01.jpg);
}
.slide:before {
  content: "";
}

.slider-nav a {
  width: 33.3333333333%;
  height: 1px;
  display: block;
  float:left;
  background: #fff;
  overflow: hidden;
}
.slider-nav a.active {
  margin-top:-3px;
  height: 3px;
  background: #fff;
}

.project-cta{
  background-color: #00D9D0;
  min-height:313px;
  padding:60px;
  color:#fff;
  border-top: 1px solid #fff;
}

.project-cta span{
  font-size:22px;
}

/* ==========================================================================
   carousel
   ========================================================================== */

.owl-carousel .owl-stage-outer{
  padding-left:40px;
}

.right-slider{
  transform:translateX(15%);
}

.left-slider{
  transform:translateX(-15%);
  margin-top:35px;
}

.owl-dots{
  margin-top:85px;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
  height:3px;
}

.owl-theme .owl-dots .owl-dot span{
  width: 138px;
  height: 1px;
  background: #00D9D0;
  display: block;
  float:left;
  transition: opacity .2s ease;
}

:focus{
  outline: none;
}

/* remover navegação dos sliders */
.owl-nav{
  display:none;
}

/* ==========================================================================
   Slider Content
   ========================================================================== */

.slide-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width:1200px;
  width: 100%;
}

.slide-container .social{
  margin-top:160px;
}

.scroll-guide{
  position: absolute;
  right: 0;
  bottom: 25%;
}

.scroll-down{
  transform: rotate(-90deg);
  color:#fff;
  font-size:12px;
}

.scroll-down img{
  padding-right:20px;
}

/* ==========================================================================
   Video Banner
   ========================================================================== */

.video-banner-wrap{
  width: 95%;
  position: relative;
}

.video-banner-wrap video{
  height: 500px;
  width: 100%;
  cursor: url(../img/play-btn.svg), auto;
}

.video-banner-wrap video[poster]{
  object-fit: cover;
}

.play-btn{
  position: absolute;
  right:215px;
  top:50%;
  transform:translateY(-50%);
  width: 90px;
  height: 90px;
}

.video-banner-wrap:hover .play-btn{
  display:none;
}


/* ==========================================================================
   Sections
   ========================================================================== */
.homepage.section-0{
  position: relative;
  z-index:1;
}

.offset-project-cta{
  position: absolute;
  bottom:-75px;
  z-index: 2;
  width: 100%;
} 

.homepage.section-1{
  padding:150px 0;
}

.homepage.section-1 .owl-dot{
  display:none;
}

.homepage.section-2{
  padding:100px 0;
}

.homepage.section-3{
  padding:90px 0;
  background-color:#0F0F0F;
  color:#fff;
}

.homepage.section-4{
  background-color:#0F0F0F;
  color:#fff;
  padding-top:90px;
  padding-bottom:170px;
}

.homepage.section-4 p{
  color:#fff;
}

.homepage.section-1 .btn-blue-ball,
.homepage.section-2 .btn-blue-ball,
.homepage.section-3 .btn-blue-ball,
.homepage.section-4 .btn-blue-ball{
  margin-top: 35px;
  margin-bottom: 35px;
}

.head-section{
  padding:80px 0;
}

.about.video-banner-wrap{
  width: 100%;
}

.about.section-1{
  padding:100px 0;
}

.about.section-2{
  padding:50px 0;
}

.about.section-3{
  background-color:#0F0F0F;
  color:#fff;
  padding:140px 0;
}

.about.section-3 p{
  color:#fff;
}

.services.section-1{
  padding-bottom:30px;
}

.services.section-2{
  padding:50px 0;
}

.services.section-2 strong{
  font-size:22px;
}

.services.section-2 ul{
  list-style-type: none;
  margin: 48px 0 0;
  padding: 0;
}

.services.section-2 ul li a{
  text-decoration: none;
  color:#999;
  line-height: 45px;
}

.services.section-2 ul li a:hover{
  text-decoration: underline;
}

.services.section-3{
  background-color:#0F0F0F;
  color:#fff;
  margin-top:50px;
  padding:100px 0;
}

.services.section-3 .owl-item:nth-child(even){
  margin-top:60px;
}

.industry.section-1{
  padding-top:0;
  padding-bottom:60px;
}

.industry.section-3{
  margin-top:-70px;
  padding-top:200px;
  padding-bottom:100px;
  background-color:#0F0F0F;
  color:#fff;
}

.industry.section-3 p{
  color:#fff;
  text-decoration: none;
}

.industry.section-3 .img-label-container,
.about.section-3 .img-label-container{
  position: relative;
}

.industry.section-3 .owl-carousel .owl-dots.disabled{
  display:block;
}

.contact.section-2{
  padding-top:115px;
  padding-bottom:150px;
  margin-top:-50px;
  background-color:#0F0F0F;
  color:#fff;
}

.blog.section-1 .primary-article{
  margin-top:-60%;
  color:#fff;
}

.blog.section-2{
  padding-top:60px;
}

.blog.section-2 .subtitle{
  color:#999;
}

.blog.section-2 a{
  text-decoration:none;
  color:#1F1F1F;
}

.blog.section-2 a:hover .article-title{
  text-decoration:underline;
}

.blog.section-3{
  padding-top:150px;
  padding-bottom:80px;
  background-color:#0F0F0F;
  color:#fff;
}

.blog.section-3 p{
  color:#fff;
}

.blogpost.head-section{
  padding-top:80px;
  padding-bottom:0;
}

.blogpost.section-1{
  padding-bottom:70px;
}

.blogpost.section-2{
  padding-bottom:125px;
}

.post-data{
  line-height: 30px;
  color: #999;
  margin-top: 1em;
  font-size: 14px;
}

.post-data .date{
  text-transform: uppercase;
}

.blogpost.section-2 .social{
  color:#999;
  margin-top:50px;
}

.blogpost.section-2  .social-media .white-line{
  background-color:#999;
}

.blogpost.section-2 p{
  margin-bottom:45px;
}

.blogpost.section-2 h2{
  font-size:25px;
  line-height: 41px;
}

.blogpost.section-3{
  padding:130px 0;
  background-color:#0F0F0F;
  color:#fff;
}

.blogpost.section-3 p{
  color:#fff;
}

.blogpost.section-3 a{
  color:#fff;
  text-decoration: none;
}

.blogpost.section-3 a:hover .article-title{
  text-decoration:underline;
}

.industry-post.section-1{
  padding-top:90px;
  padding-bottom:240px;
}

.industry-post.section-2 .blue-square{
  padding:90px 60px;
  margin-top:-13%;
  width:unset;
  z-index: 2;
  position: relative;
}

.industry-post.section-2 .blue-square h3{
  display: block;
  z-index: 2;
  font-size:28px;
  line-height: 46px;
}

.industry-post.section-3{
  display: block;
  z-index: 1;
  background-color:#0F0F0F;
  color:#fff;
  padding-top:420px;
  padding-bottom:140px;
  margin-top:-20%;
}

/* ==========================================================================
   artigos
   ========================================================================== */

.banner-img{
  margin-top:50px;
}

.primary-article{
  margin-top:-50%;
  background-color:#00D0C7;
  padding:75px 65px;
}

.primary-article .btn-blue-ball{
  margin-top:25px;
}

.primary-article .article-title{
  font-weight: 400;
}

.primary-article .subtitle{
  letter-spacing: 0;
}

.article-title{
  font-size:26px;
  line-height: 43px;
  margin-top:0;
  margin-bottom:25px;
}

.article-title:after{
  contain: "";
  margin-bottom:30px;
}

.article-short{
  font-size:18px;
}

.articles .subtitle{
  color:#999;
}

.articles{
  margin-top:80px;
}

.articles a{
  text-decoration: none;
  color:#fff;
}

.articles a:hover .article-title{
  text-decoration:underline;
}

.articles .article-title{
  font-size:22px;
  font-weight:600;
  margin-top:0;
  margin-bottom:5px;
}

.articles .article-short{
  font-size:16px;
}


/* ==========================================================================
   Footer 
   ========================================================================== */
footer{
  background-color:#0f0f0f;
  color:#fff;
}

footer p{
  color:#fff;
}

.footer-1{
    background: #0f0f0f; /* Old browsers */
    background: -moz-linear-gradient(left,  #0f0f0f 0%, #0f0f0f 44%, #00d9d0 44%, #00d9d0 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #0f0f0f 0%,#0f0f0f 44%,#00d9d0 44%,#00d9d0 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #0f0f0f 0%,#0f0f0f 44%,#00d9d0 44%,#00d9d0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f0f0f', endColorstr='#00d9d0',GradientType=1 ); /* IE6-9 */
}

.footer-1 .subtitle{
  color:#999;
}

.footer-1 p{
  margin:35px 0 50px 0;
}

.footer-1 .address, .footer-1 a{
  font-size:16px;
}

footer a{
  color:#fff;
  text-decoration:none;
}

.footer-1 a:hover{
  text-decoration: underline;
}

.footer-1 a:first-child{
  margin-top:50px;
}

.footer-form .subtitle{
  color:#fff;
}

.footer-form{
  background-color:#00D9D0;
  color:#fff;
  padding:100px 80px;
}

.footer-form input{
  background-color: transparent;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #fff!important;
  color:#fff;
  width: 100%;
  height: 35px;
  margin: 27px 0;
  padding-left: 10px;
}

.footer-form input:first-child{
  margin-top:0;
}

.footer-form input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1; /* Firefox */
}

.footer-form input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #fff;
}

.footer-form input::-ms-input-placeholder { /* Microsoft Edge */
  color:#fff;
}

.footer-form .btn-blue-ball{
  margin-top:50px;
}

.footer-2{
  padding-top:110px;
  padding-bottom:65px;
  background-color:#0F0F0F;
}

.footer-2 h4{
  font-size:26px;
  line-height: 43px;
}

.footer-logo img{
  max-width: 160px;
}

.footer-2 .btn-ball-white{
  transition:500ms all ease;
  float:left;
}

.footer-2 .btn-ball-white:hover{
  filter: drop-shadow(0px 0px 10px #00D9D0);
}

.newsletter form{
  display: flex;
  flex-direction: row;
}

.newsletter input, .newsletter a{
  float:left;
}

.newsletter a{
  margin-left:20px;
}

.footer-2 input{
  width: 80%;
  color: #fff;
  background-color:#0F0F0F;
  border:1px solid #fff;
  border-radius: 30px;
  height: 42px;
  padding-left: 30px;
  font-size:14px;
}

.absolute-footer{
  background-color:#0F0F0F;
}

.social{
  display:flex;
}

.social-media{
  display:flex;
  flex-direction: row;
  align-items: center;
  font-size:12px;
  font-weight: 700;
}

.social-media .white-line{
  width:60px;
  height:1px;
  background-color:#fff;
  margin:0 20px;
}

.social a{
  margin-left:15px;
  transition:500ms all ease;
}

.social a:hover{
  transform:scale(1.3);
}

.footer-nav{
  text-align: right;
  font-size:12px;
  text-transform: uppercase;
}

.footer-nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-nav ul li{
  display: inline;
  margin-left:30px;
}

.footer-nav ul li:first-child{
  margin-left:0;
}

.footer-nav a:hover{
  text-decoration: underline;
}

.grey-footer{
  font-size:12px;
  color:#999;
  text-align: right;
  padding:25px 0;
}

.grey-footer ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.grey-footer ul li{
  display: inline;
  margin-left:30px;
}

.grey-footer a{
  color:#999;
}

.grey-footer a:hover{
  text-decoration: underline;
}

.footer-1 .btn-blue-ball.btn-dark{
  margin-top:40px;
}


/* ==========================================================================
   Misc
   ========================================================================== */

.img-fluid {
  max-width: 100%;
  height: auto;
}

.img-grid a:hover .img-container span{
  text-decoration: underline;
}

.img-container{
  position: relative;
  display:block;
  padding:10px 20px;
}

.img-container span{
  position:absolute;
  left:-5px;
  bottom:40px;
  background-color:#00D9D0;
  color:#fff;
  font-size:20px;
  font-weight:600;
  padding:10px 0 10px 20px;
  width:calc(95% - 35px);
  min-height: 70px;
  display: flex;
  align-items: center;
}

.top-offset{
  margin-top:-150px;
}

.align-center{
  align-items: center;
}

.align-bottom{
  align-items:flex-end;
}

.align-top{
  align-items:flex-start;
}

.go-right{
  order:3;
}

.go-center{
  order:2;
}

.go-left{
  order:1;
}

.padding-right{
  padding-right:20px;
}

.padding-left{
  padding-left:20px;
}

.img-blue{
  padding-right:50px;
}

.img-blue.odd{
  padding-right:0;
  padding-left:50px;
}

.img-blue::after{
  content: "";
  display: block;
  background-color: #00D9D0;
  height: 20px;
  width: 84%;
  margin-left: 100px;
}

.go-right .img-blue::after{
  margin-right: 100px;
  margin-left:20px;
}

.blue-square{
  background-color:#00D9D0;
  color:#fff;
  padding:100px 120px;
  margin-top: -29%;
}

.blue-square p{
  color:#fff;
}

.panel{
  display:none;
}

.always-open{
  display:block!important;
}

.accordion{
  max-width: 1330px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color:#fff;
  border-top: 1px solid #999;
  border-left:0;
  border-right:0;
  border-bottom:0;
  padding:15px 60px;
  cursor: pointer;
  transition: 500ms all ease;
  text-align: left;
}

.circle-plus{
  align-self: center;
  position: relative;
  width:42px;
  height:42px;
  background: #1F1F1F;
  border:1px solid #1F1F1F;
  border-radius: 50%;
  transition: 500ms all ease;
}

.circle-plus img{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50% , -50%);
}

.accordion:hover .circle-plus{
  background-color:#fff;
}

.accordion:hover .circle-plus img{
  filter:invert(1);
}


.active.accordion .circle-plus{
  transform: rotate(45deg);
  background-color: #fff;
}

.active.accordion .circle-plus img{
  filter: invert(1);
}

.panel{
  position: relative;
}

.panel .img-fluid{
  height: 504px;
  width: 100%;
  object-fit: cover;
  margin-bottom:40px;
}

.accordion-blue{
  height: 504px;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: #00d9d0;
  color: #fff;
  margin-top: 40px;
  display: flex;
  align-content: center;
}

.accordion-blue strong{
  font-size:22px;
}

.offset-panel-blue{
  position: absolute;
  top: 0;
}

.offset-panel-blue p{
  color:#fff;
}

.blue-txt{
  color:#00d9d0;
}

.contact-blue{
  position: relative;
  margin-top:60px;
  z-index:2;
}

.contact-blue .padding-left p{
  font-size:22px;
  padding-top:110px;
}

.contact-img{
  position: relative;
  z-index: 1;
  margin-top:-27%;
}

.blue-board{
  background-color:#00D9D0;
  padding:90px 80px;
  color:#fff;
}

.blue-board h3{
  margin-bottom:35px;
}

.blue-board p{
  margin:35px 0;
}

.blue-board a{
  color:#fff;
  font-weight:700;
  text-decoration: none;
}

.blue-board a:hover{
  text-decoration:underline;
}

.article-info{
  padding:15px 0;
}

.article-info .subtitle{
  letter-spacing: 0;
}


.btn-container{
  display:flex;
  justify-content: center;
  margin-bottom:80px;
}

.btn-container .btn-img{
  left: 17px;
}

.industry-banner{
  min-height: 355px;
  background-image:url(../img/industry-banner.jpg);
  background-size:cover;
  color:#fff;
  padding: 55px 65px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.img-label{
  position: relative;
}

.blue-label{
  position:absolute;
  top:40px;
  background-color: #00D9D0;
  color:#fff;
  padding: 10px 15px;
  width: 240px;
}

.blue-label span{
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
}

.blue-label{
  right:0;
}

.go-right .blue-label{
  left: 0;
}


/* ==========================================================================
   responsive
   ========================================================================== */

.mobile{
  display:none;
}

.desktop{
  display:block;
}

.main-nav-mobile{
  padding:15px 0px;
}

.main-nav-mobile a{
  float:left;
}

.main-nav-mobile a{
  float:left;
}

.main-nav-mobile .menu{
  float:right;
  cursor: pointer;
}

.main-nav-mobile img{
  max-width:170px;
}

.bar1, .bar2, .bar3 {
  width: 30px;
  height: 1px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}

.main-nav-mobile .menu.menu-light .bar1,
.main-nav-mobile .menu.menu-light .bar2,
.main-nav-mobile .menu.menu-light .bar3{
  background-color: #000;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-4px, -1px);
}

@media (max-width: 1420px) {

  .scroll-guide{
    bottom:40%;
  }

}

@media (max-width: 768px) {
  .desktop{
    display:none;
  }
  .mobile{
    display:block;
  }
  h1{
    font-size:32px;
    line-height: 52px;
  }
  h2{
    font-size:25px;
    line-height: 41px;
  }
  h3{
    font-size:20px;
    line-height: 35px;
  }
  p{
    font-size:16px;
  }
  .light-nav{
    height:60px;
  }
  .nav-bar{
    background-color:#fff;
    position: fixed;
    height:60px;
  }
  .nav-bar .menu .bar1,
  .nav-bar .menu .bar2,
  .nav-bar .menu .bar3{
    background-color:#383838;
  }
  .wrapper, .larger-wrapper, .service-wrapper, .service-wrapper.odd{
    padding:0 20px;
  }
  .slide .btn-blue-ball{
    display:none; 
  }
  .btn-blue-ball .btn-ball{
    display:none;
  }
  .btn-blue-ball.btn-light{
    background-color:#00D9D0;
    border-radius:30px;
    padding:10px 0;
    transition: 500ms all ease;
  }
  .btn-blue-ball.btn-dark{
    background-color:#fff!important;
    border-radius:30px;
    padding:10px 0;
    transition: 500ms all ease;
  }
  .btn-blue-ball.btn-light span{
    color:#fff;
    margin:0 auto;
    display:block;
  }
  .btn-blue-ball.btn-dark span{
    color:#00D9D0;
    margin:0 auto;
    display:block;
  }
  .btn-blue-ball.btn-light:hover{
    filter: drop-shadow(0px 0px 10px #00D9D0);
  }
  .btn-blue-ball.btn-dark:hover{
    filter: drop-shadow(0px 0px 10px #00D9D0);
  }
  .btn-blue-ball span{
    position: relative;
    margin-left:0;
  }
  .left-slider{
    transform: unset;
  }
  .carousel-wrapper .item span{
    left:10px;
    width: 70%;
    font-size:16px;
  }
  .owl-carousel .owl-item img{
    max-width: calc(100% - 40px)!important;
    height:auto!important;
    padding-left:20px;
  }
  .owl-carousel .owl-stage-outer{
    padding-left:0;
  }
  .homepage.section-1{
    padding:50px 0;
  }
  .homepage.section-2{
    padding:80px 0;
  }
  .homepage.section-4{
    padding-top:0;
    padding-bottom:60px;
  }
  .img-container{
    padding:10px;
  }
  .img-container span{
    position: relative;
    left:0;
    bottom:unset;
    width: calc(100% - 20px);
    display: block;
  }
  .video-banner-wrap iframe{
    height:200px;
  }
  .homepage.section-2 .spacer{
    padding-top:60px;
  }
  .top-offset{
    margin-top:-60px;
  }
  .primary-article{
    margin-top:0;
    margin-left: -20px;
    margin-right: -20px;
    padding:35px 20px;
  }
  .articles{
    margin-top:60px;
  }
  .article-spacer{
    border-top: 1px solid #999;
    margin: 1.5em 0;
  }
  .team .padding-right{
    padding-right:0;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom:50px;
  }
  .footer-1{
    background:#0f0f0f;
  }
  .footer-2{
    padding-top:0;
    padding-bottom:40px;  
  }
  .footer-2 h4{
    font-weight:400;
  }
  .footer-form{
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 60px;
    padding:60px 20px; 
  }
  .footer-form input{
    width: 100%;
  }
  .padding-left{
    padding-left:0;
  }
  .padding-right{
    padding-right:0;
  }
  .order-first{
    order: 1;
  }
  .order-second{
    order: 2;
  }
  .newsletter input, .newsletter a{
    float:none;
  }
  .newsletter form{
    display: block;
  }
  .footer-2 input{
    width: calc(100% - 40px);
    margin-bottom:10px;
  }
  .grey-footer{
    text-align: left;
  }
  .grey-footer ul li{
    display: block;
    margin-left: 0;
    margin-bottom:5px;
  }
  .head-section{
    padding:25px 0;
  }
  .about.section-1{
    padding-top:50px;
    padding-bottom:25px;
  }
  .about.section-2{
    padding:25px 0;
  }
  .about.section-3{
    padding:80px 0;
  }
  .about.section-3 .btn-blue-ball{
    margin-top:35px;
  }
  .go-right{
    order:1;
  }
  .go-left{
    order:2;
  }
  .img-blue{
    margin-left:-20px;
    margin-right:-20px;
  }
  .img-blue::after{
    height: 10px;
    width: 90%;
    margin-left: 25px;
    margin-bottom: 25px;
  }
  .img-blue, .img-blue.odd{
    padding:0;
  }
  .services.head-section .blue-square,
  .industry.head-section .blue-square{
    margin-top:0;
    margin-left:-20px;
    margin-right:-20px;
    padding: 50px 20px;
  }
  .services.section-1,
  .services.section-2{
    padding:25px 0;
  }
  .services.section-3 .btn-blue-ball{
    margin-top:30px;
  }
  .img-label{
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom:35px;
  }
  .industry.section-1{
    padding-top:25px;
    padding-bottom:50px;
  }
  .industry.section-2{
    margin-left: -20px;
    margin-right: -20px;
  }
  .accordion{
    padding: 15px 40px;
  }
  .offset-panel-blue{
    position: relative;
    margin-top:0;
  }
  .panel .img-fluid{
    margin-bottom:0;
  }
  .accordion-blue{
    padding: 100px 40px;
    margin: 0;
    background-color: #00d9d0;
    color: #fff;
    width: unset;
    height: unset;
  }
  .accordion-blue .btn-blue-ball{
    margin-top:35px;
  }
  .industry.section-3{
    margin-top:0;
    padding:80px 0;
  }
  .industry.section-3 .btn-blue-ball{
    margin-top:45px;
  }
  .contact-blue{
    margin-top:0;
  }
  .contact-blue .blue-board{
    margin-left:-20px;
    margin-right:-20px;
    padding:60px 20px!important
  }
  .contact-img{
    margin-top:0;
  }
  .contact-blue .padding-left p{
    padding-top:25px;
  }
  .contact-btn{
    margin-bottom:45px;
  }
  .blog.section-1 .primary-article{
    margin-top:0;
  }
  .blog.section-1 .banner-img{
    margin-top:0;
  }
  .article-info {
    padding: 15px 0px 35px;
  }
  .blog.section-3{
    padding-top:90px;
  }
  .btn-container .btn-blue-ball.btn-light{
    width:calc(100% - 40px);
  }
  .blogpost.head-section{
    padding-top:40px;
  }
  .blogpost.section-3{
    padding: 75px 0;
  }
  .industry-banner{
    margin-left: -20px;
    margin-right: -20px;
    padding:20px;
  }
  .industry-post.section-1{
    padding-top: 50px;
    padding-bottom: 65px;
  }
  .industry-post.section-2 .blue-square{
    margin-top:0;
    margin-left: -20px;
    margin-right: -20px;
    padding: 65px 20px;
  }
  .industry-post.section-3{
    margin-top:0;
    padding:80px 0;
  }
  .industry-post.section-3 .btn-blue-ball{
    margin-top:45px;
  }
  .absolute-footer .social{
    margin-bottom: 30px;
  }
  .social{
    display:block;
  }
  .social-media{
    white-space: nowrap;
  }
  .social-media .white-line{
    width: 100%;
    margin-right:0;
  }
  .social-links{
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
  }
  .btnball{
    display:none;
  }
  .btn-blue-ball{
    display:flex;
  }
}

@media (max-width: 576px) {
  h1 br, h2 br, h3 br, h4 br{
    display:none;
  }
  .industry-banner{
    min-height:240px;
  }
}

/* ==========================================================================
   Animations - homepage
   ========================================================================== */

.animista [class*="anim-delay-"] {
    opacity: 0;
 }
 
 .animista.appear.fade-in-bottom [class*="anim-delay-"] {
    animation-name: fade-in-bottom 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
}

.anim-delay-1 { animation-delay: 0.1s; }
.anim-delay-2 { animation-delay: 0.2s; }
.anim-delay-3 { animation-delay: 0.3s; }
.anim-delay-4 { animation-delay: 0.4s; }
.anim-delay-5 { animation-delay: 0.5s; }
.anim-delay-6 { animation-delay: 0.6s; }
.anim-delay-7 { animation-delay: 0.7s; }

@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}


/* ==========================================================================
   Animations - sobre
   ========================================================================== */

/* ==========================================================================
   Animations - servicos
   ========================================================================== */

/* ==========================================================================
   Animations - industrias
   ========================================================================== */  

/* ==========================================================================
   Animations - contactos
   ========================================================================== */

/* ==========================================================================
   Animations - blog
   ========================================================================== */
   
/* ==========================================================================
   Animations - blogpost
   ========================================================================== */
   
/* ==========================================================================
   Animations - industria post
   ========================================================================== */ 


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

